<app-breadcrumb [breadcrumb]="breadcrumb" />

<section class="section-block-space cart-section">
  <div class="custom-container">
    @if ((cartItem$ | async)?.length) {
      <div class="quick-box">
        <p>
          <i class="ri-error-warning-line"></i> There is a limit on these things, so please check
          out quickly! Someone else has already ordered the identical products.
        </p>
        <app-timer [type]="'timer-four'" />
      </div>
      <div class="row g-sm-4 g-3">
        <div class="col-12">
          <div class="cart-table2">
            <div class="table-title">
              <h2>
                Cart <span>({{ (cartItem$ | async)?.length }})</span>
              </h2>
              <button class="clear-btn btn" (click)="clearCart()">
                <span>Clear All</span>
              </button>
            </div>
            <div class="table-responsive">
              <table class="table cart-table-box">
                <tbody>
                  @for (item of cartItem$ | async; track item) {
                    <tr class="table-row">
                      <td>
                        <div class="cart-box">
                          <div class="cart-image">
                            <a [routerLink]="['/product/' + item.product.slug]">
                              <img
                                [src]="
                                  item?.variation && item?.variation?.variation_image
                                    ? item?.variation?.variation_image?.asset_url
                                    : item?.product?.product_thumbnail
                                      ? item?.product?.product_thumbnail?.asset_url
                                      : 'assets/images/placeholder/product.png'
                                "
                                class="img-fluid"
                                [alt]="item?.product?.name"
                              />
                            </a>
                            <i class="ri-heart-3-line"></i>
                            <i class="ri-heart-3-fill"></i>
                          </div>
                          <div class="cart-contain">
                            <a [routerLink]="['/product/', item.product.slug]">
                              <h4>
                                {{ item?.variation ? item.variation.name : item?.product?.name }}
                              </h4>
                            </a>
                          </div>
                        </div>
                      </td>
                      <td>
                        <h5 class="price">
                          {{
                            (item?.variation
                              ? item?.variation?.sale_price
                              : item?.product && item?.wholesale_price
                                ? item?.wholesale_price!
                                : item?.product?.sale_price
                            ) | currencySymbol
                          }}
                          @if (item?.product?.discount) {
                            <del class="del-price">{{
                              item?.variation
                                ? item?.variation?.price
                                : (item?.product?.price | currencySymbol)
                            }}</del>
                          }
                        </h5>
                      </td>
                      <td>
                        <div class="quantity-box qty-container quantity-box-2">
                          <app-button
                            [id]="'quantity-left-minus'"
                            [class]="'btn qty-btn-minus'"
                            [iconClass]="'ri-subtract-line'"
                            [spinner]="false"
                            (click)="updateQuantity(item, -1)"
                          ></app-button>

                          <input
                            type="text"
                            name="quantity"
                            class="form-control input-number"
                            value="{{ item.quantity }}"
                            readonly
                          />

                          <app-button
                            [id]="'quantity-left-minus'"
                            [class]="'btn qty-btn-plus'"
                            [iconClass]="'ri-add-line'"
                            [spinner]="false"
                            (click)="updateQuantity(item, 1)"
                          ></app-button>
                        </div>
                      </td>
                      <td>
                        <h5 class="total txt-primary-color">
                          {{
                            item.quantity *
                              (item?.variation
                                ? item?.variation?.sale_price!
                                : item?.product && item?.wholesale_price
                                  ? item?.wholesale_price!
                                  : item?.product?.sale_price!) | currencySymbol
                          }}
                        </h5>
                      </td>
                      <td>
                        <button class="remove-row btn" (click)="delete(item.id)">
                          <i class="iconsax" icon-name="trash"></i>
                        </button>
                      </td>
                    </tr>
                  }
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="3">
                      <div class="summery-header">
                        <h3>Total (USD)</h3>
                      </div>
                    </td>
                    <td colspan="2">
                      <div class="list-total">
                        <h4 class="price theme-color">
                          {{ (cartTotal$ | async) || 0 | currencySymbol }}
                        </h4>
                      </div>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>

          <div class="text-end">
            <a class="btn proceed-btn" [routerLink]="['/checkout']">Proceed to checkout</a>
          </div>
        </div>
      </div>
    } @else {
      <div class="cart-table2">
        <app-no-data
          [class]="'no-data-added'"
          [image]="'assets/images/inner-page/empty-cart.svg#emptyCart'"
          [text]="'No Item'"
          [description]="'no_cart_item_desc' | translate"
        >
        </app-no-data>
      </div>
    }
  </div>
</section>
