@if ((matchedRelatedProducts$ | async)?.length) {
  <section class="pt-0 section-b-space">
    <div class="custom-container">
      <div class="related-title">
        <h2>
          {{ isEnglish ? 'Products you may also like' : 'Produk yang mungkin Anda ingin lihat' }}
        </h2>
      </div>
      <div
        class="row g-sm-4 g-3 row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xxl-6 slider-bottom-spacing"
      >
        @for (product of matchedRelatedProducts$ | async; track product.id) {
          <div class="col pro-bg-white">
            <app-product-box
              [product]="product"
              [productBoxStyle]="'product_box_one'"
            ></app-product-box>
          </div>
        }
      </div>
    </div>
  </section>
}
