<section class="section-block-space">
  <div class="custom-container">
    <div class="product-section-box m-0">
      <ul ngbNav #nav="ngbNav" class="nav-tabs custom-nav">
        <li ngbNavItem>
          <a ngbNavLink>{{ isEnglish ? 'Description' : 'Deskripsi' }}</a>
          <ng-template ngbNavContent>
            @if (product()?.description) {
              <div
                class="part ckeditor-content"
                [innerHTML]="getTrustedHtml(product()?.description)"
              ></div>
            }
          </ng-template>
        </li>
        @if ((specifications | keyvalue).length) {
        <li ngbNavItem>
          <a ngbNavLink>{{ isEnglish ? 'Specifications' : 'Spesifikasi' }}</a>
          <ng-template ngbNavContent>
            <div class="information-box">
              <ul class="about-item-list">
                @for (item of specifications | keyvalue; track item.key) {
                  <li><strong>{{ item.key }}</strong><span>{{ item.value }}</span></li>
                }
              </ul>
            </div>
          </ng-template>
        </li>
        }
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2 custom-tab"></div>
    </div>
  </div>
</section>
