<div class="authentication-box forgot-password-box">
  <div class="auth-title">
    <h4>Reset Password</h4>
    <p>
      Have you forgotten your password? Kindly provide your email address. An email with a link to
      establish a new password will be sent to you.
    </p>
  </div>
  <app-alert />
  <form class="auth-form" [formGroup]="form" (ngSubmit)="submit()">
    <input
      type="text"
      class="form-control"
      id="email"
      placeholder="{{ 'enter_email_address' | translate }}"
      formControlName="email"
    />
    @if (email?.touched && email?.errors?.['required']) {
      <div class="invalid-feedback">{{ 'email_is_required' | translate }}</div>
    } @else if (email?.touched && email?.errors?.['email']) {
      <div class="invalid-feedback">{{ 'invalid_email' | translate }}</div>
    }
    <div class="send-cancle-btn-group">
      <app-button
        [class]="'btn btn-bg-theme w-100'"
        [type]="'submit'"
        [id]="'forgot_password_btn'"
        [spinner]="true"
        >{{ 'Send' | translate }}</app-button
      >
      <a
        href="javascript:void(0)"
        class="btn btn-bg-theme w-100 cancel-btn"
        (click)="action('login')"
        >Cancel</a
      >
    </div>
  </form>
</div>
