<form
  class="theme-form theme-form-2 mega-form"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <div class="card">
    <div class="card-body">
      <h4>Pengaturan Artikel</h4>
      <div class="row g-3">
        <div class="col-lg-6">
          <app-form-fields label="Kunci internal" for="key" [required]="true"
            ><input
              class="form-control"
              id="key"
              formControlName="key"
              placeholder="contoh: manfaat-latex-alami"
          /></app-form-fields>
        </div>
        <div class="col-lg-3">
          <app-form-fields label="Status" for="status" [required]="true"
            ><select class="form-select" id="status" formControlName="status">
              <option value="draft">Draft</option>
              <option value="published">Dipublikasikan</option>
              <option value="scheduled">Terjadwal</option>
              <option value="archived">Diarsipkan</option>
            </select></app-form-fields
          >
        </div>
        <div class="col-lg-3 d-flex gap-3 align-items-center">
          <label
            ><input type="checkbox" formControlName="is_featured" />
            Unggulan</label
          ><label
            ><input type="checkbox" formControlName="is_sticky" />
            Sematkan</label
          >
        </div>
        <div class="col-lg-6">
          <app-form-fields label="Mulai tayang" for="published_at"
            ><input
              class="form-control"
              type="datetime-local"
              formControlName="published_at"
          /></app-form-fields>
        </div>
        <div class="col-lg-6">
          <app-form-fields label="Berhenti tayang" for="unpublished_at"
            ><input
              class="form-control"
              type="datetime-local"
              formControlName="unpublished_at"
          /></app-form-fields>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-body">
      <h4>Bahasa Indonesia</h4>
      <div class="row g-3">
        <div class="col-lg-5">
          <app-form-fields label="Slug URL" for="id_slug" [required]="true"
            ><input class="form-control" formControlName="id_slug"
          /></app-form-fields>
        </div>
        <div class="col-lg-7">
          <app-form-fields label="Judul" for="id_title" [required]="true"
            ><input class="form-control" formControlName="id_title"
          /></app-form-fields>
        </div>
      </div>
      <app-form-fields label="Ringkasan" for="id_excerpt">
        <textarea
          class="form-control"
          rows="3"
          formControlName="id_excerpt"
        ></textarea>
      </app-form-fields>
      <app-form-fields label="Isi artikel" for="id_body" [required]="true">
        @if (browser && idEditor) {
          <ngx-editor-menu [editor]="idEditor" /><ngx-editor
            [editor]="idEditor"
            formControlName="id_body"
          />
        }
      </app-form-fields>
      <div class="row g-3">
        <div class="col-lg-6">
          <app-form-fields label="Judul SEO" for="id_meta_title"
            ><input class="form-control" formControlName="id_meta_title"
          /></app-form-fields>
        </div>
        <div class="col-lg-6">
          <app-form-fields label="Canonical URL" for="id_canonical_url"
            ><input class="form-control" formControlName="id_canonical_url"
          /></app-form-fields>
        </div>
      </div>
      <app-form-fields label="Deskripsi SEO" for="id_meta_description">
        <textarea
          class="form-control"
          rows="2"
          formControlName="id_meta_description"
        ></textarea>
      </app-form-fields>
      <div class="row g-3">
        <div class="col-lg-6">
          <app-form-fields label="Judul OG" for="id_og_title"
            ><input class="form-control" formControlName="id_og_title"
          /></app-form-fields>
        </div>
        <div class="col-lg-6">
          <app-form-fields label="Deskripsi OG" for="id_og_description"
            ><input class="form-control" formControlName="id_og_description"
          /></app-form-fields>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-body">
      <h4>English</h4>
      <div class="row g-3">
        <div class="col-lg-5">
          <app-form-fields label="URL slug" for="en_slug" [required]="true"
            ><input class="form-control" formControlName="en_slug"
          /></app-form-fields>
        </div>
        <div class="col-lg-7">
          <app-form-fields label="Title" for="en_title" [required]="true"
            ><input class="form-control" formControlName="en_title"
          /></app-form-fields>
        </div>
      </div>
      <app-form-fields label="Excerpt" for="en_excerpt">
        <textarea
          class="form-control"
          rows="3"
          formControlName="en_excerpt"
        ></textarea>
      </app-form-fields>
      <app-form-fields label="Article body" for="en_body" [required]="true">
        @if (browser && enEditor) {
          <ngx-editor-menu [editor]="enEditor" /><ngx-editor
            [editor]="enEditor"
            formControlName="en_body"
          />
        }
      </app-form-fields>
      <div class="row g-3">
        <div class="col-lg-6">
          <app-form-fields label="SEO title" for="en_meta_title"
            ><input class="form-control" formControlName="en_meta_title"
          /></app-form-fields>
        </div>
        <div class="col-lg-6">
          <app-form-fields label="Canonical URL" for="en_canonical_url"
            ><input class="form-control" formControlName="en_canonical_url"
          /></app-form-fields>
        </div>
      </div>
      <app-form-fields label="SEO description" for="en_meta_description">
        <textarea
          class="form-control"
          rows="2"
          formControlName="en_meta_description"
        ></textarea>
      </app-form-fields>
      <div class="row g-3">
        <div class="col-lg-6">
          <app-form-fields label="OG title" for="en_og_title"
            ><input class="form-control" formControlName="en_og_title"
          /></app-form-fields>
        </div>
        <div class="col-lg-6">
          <app-form-fields label="OG description" for="en_og_description"
            ><input class="form-control" formControlName="en_og_description"
          /></app-form-fields>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-body">
      <h4>Media</h4>
      <div class="row g-4">
        <div class="col-lg-6">
          <app-form-fields
            label="Gambar utama"
            for="thumbnail_id"
            [required]="true"
            ><app-image-upload
              [multipleImage]="false"
              [accept]="[mediaConfig.image]"
              [image]="article?.thumbnail ?? null"
              (selectedFiles)="media('thumbnail_id', $event)"
          /></app-form-fields>
        </div>
        <div class="col-lg-6">
          <app-form-fields
            label="Gambar berbagi sosial (opsional)"
            for="og_image_id"
            ><app-image-upload
              [multipleImage]="false"
              [accept]="[mediaConfig.image]"
              [image]="article?.og_image ?? null"
              (selectedFiles)="media('og_image_id', $event)"
          /></app-form-fields>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <app-button id="article_save">{{
      type() === 'create' ? 'Simpan Artikel' : 'Perbarui Artikel'
    }}</app-button>
  </div>
</form>
