<header class="header-style-1" [ngClass]="stick && sticky() ? 'sticky-header' : ''">
  <div class="top-header custom-container theme-header2">
    <div class="left-header">
      <div class="dropdown-box">
        <ul>
          <li>
            <app-language></app-language>
          </li>

          <li>
            <app-currency></app-currency>
          </li>
        </ul>
      </div>
      <div class="social-box">
        <app-social-media></app-social-media>
      </div>
    </div>

    <div class="middle-header">
      <div class="middle-content">
        <p>
          <span
            >FREE RETURNS. STANDARD SHIPPING ORDERS $99+
            <br />
            FREE RETURNS. STANDARD SHIPPING ORDERS $99+</span
          >
        </p>
      </div>
    </div>

    <div class="right-header">
      <app-top-bar-menu></app-top-bar-menu>
    </div>
  </div>
  <div class="main-header custom-container theme-bg-color3">
    <div class="left-header">
      <button
        class="navbar-toggler d-xl-none d-inline navbar-menu-button"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#primaryMenu"
      >
        <span class="navbar-toggler-icon">
          <i class="ri-menu-line" (click)="mainMenuOpen()"></i>
        </span>
      </button>
      <app-logo [logo]="logo()"></app-logo>
    </div>
    <div
      class="middle-header searchInput"
      id="searchOffcanvas"
      [class.show]="menuService.isOpenSearch"
    >
      <app-search></app-search>
    </div>

    <div class="right-header">
      <ul class="header-icon">
        <li>
          <a href="javascript:void(0)" id="searchClick" (click)="searchOpen()">
            <i class="iconsax search-btn" icon-name="search-normal-2"></i>
          </a>
        </li>
        <li class="contact-list">
          <a href="tel:+19173768944">
            <i class="iconsax" icon-name="phone-ringing"></i>
            <div>
              <h6>Call us now</h6>
              <h5>+1 917 376 8944</h5>
            </div>
          </a>
        </li>
        <li class="dropdown-box">
          <app-user-profile />
        </li>
        <li>
          <a (click)="openWishlist()">
            <i class="iconsax" icon-name="heart"></i>
          </a>
          <ng-template #wishlistOffcanvas>
            <div class="offcanvas-header">
              <h4>Wishlist</h4>
              <button class="btn close-btn" (click)="closeWishlist()">
                <i class="ri-close-fill"></i>
              </button>
            </div>
            <app-wishlist [type]="'wishlistOffcanvas'"></app-wishlist>
          </ng-template>
        </li>
        <li>
          <app-cart></app-cart>
        </li>
      </ul>
    </div>
  </div>

  <div class="nav-header custom-container d-flex theme-bg-color3">
    <div class="category-header category-space-header d-sm-flex d-none">
      <a
        class="btn category-button category-button-2 category-yellow-bg rounded-0 d-xxl-none d-block"
        (click)="toggleCategories()"
      >
        <i class="ri-menu-line"></i>
        <span>Shop By Categories</span>
      </a>
      <button
        class="btn category-button category-button-2 category-yellow-bg d-xxl-flex d-none rounded-0 categoryButton d-none"
        (click)="toggleCategories()"
      >
        <i class="ri-menu-line"></i>
        <span>Shop By Categories</span>
      </button>
    </div>

    <div class="header-nav-middle">
      <app-main-menu></app-main-menu>
    </div>

    <div class="recent-header">
      <ul class="product-viwer">
        <li class="order-tracking d-xxl-inline-block d-none">
          <a [routerLink]="['/order/tracking']" class="product-link text-white">Order Tracking</a>
        </li>
      </ul>
    </div>
  </div>
</header>
