PORT=3000

DB_HOST=127.0.0.1
DB_USER=
DB_PASS=
DB_NAME=mia
DB_PORT=3306

JWT_SECRET=
JWT_EXPIRES_IN=1d
AUDIT_INTEGRITY_SECRET=

STORAGE_DISK=local
FILE_STORAGE_ROOT=/var/lib/matex/files
FILE_BASE_URL=https://matexindo.com/files
FILE_SERVE_LOCAL=true

PUBLIC_COMPANY_ID=1
CORS_ORIGINS=https://matexindo.com,https://www.matexindo.com,https://internal.matexindo.com
