@if (products.length) {
  <div class="light-bg-color light-sm-box">
    <div class="title-2 title-2-sm slider-button-sm mb-3">
      <h3>{{ isEnglish ? 'Recently viewed products' : 'Produk yang baru dilihat' }}</h3>
      <div class="d-flex gap-2">
        <button #previousButton class="swiper-btn-prev" type="button" aria-label="Previous">
          <i class="ri-arrow-left-s-line"></i>
        </button>
        <button #nextButton class="swiper-btn-next" type="button" aria-label="Next">
          <i class="ri-arrow-right-s-line"></i>
        </button>
      </div>
    </div>
    <div class="swiper recent-product-slider" #swiperContainer>
      <div class="swiper-wrapper">
        @for (product of products; track product.id) {
          <div class="swiper-slide pro-bg-white">
            <app-product-box
              [product]="product"
              [productBoxStyle]="'product_box_one'"
            ></app-product-box>
          </div>
        }
      </div>
    </div>
  </div>
}
