<div class="authentication-box otp-box">
  <div class="auth-title">
    <h4>
      <a href="javascript:void(0)" class="modal-back" (click)="backForm()">
        <i class="ri-arrow-left-line"></i>
      </a>
      {{ 'otp' | translate }}
    </h4>
    @if (type() === 'email') {
      <p>{{ 'verify_email_otp_text' | translate }}</p>
    }
    @if (type() === 'number') {
      <p>{{ 'verify_number_otp_text' | translate }}</p>
    }
  </div>
  <app-alert />
  <div class="log-in-title">
    <h5>
      {{ 'otp_code' | translate }}
      @if (type() === 'email') {
        <span>{{ email }}</span>
      }
      @if (type() === 'number') {
        <p>{{ number.phone }}</p>
      }
    </h5>
  </div>
  <form class="auth-form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="mb-3">
      <div id="otp" class="inner-otp">
        <input
          type="text"
          formControlName="otp"
          maxlength="5"
          class="form-control"
          oninput="this.value = this.value?.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1')"
          placeholder="{{ 'send_otp' | translate }}"
          onKeyPress="if(this.value.length==5) return false;"
        />
      </div>
    </div>
    <app-button
      [class]="'btn btn-bg-theme w-100'"
      [type]="'submit'"
      [id]="'otp_btn'"
      [spinner]="true"
      >{{ 'Verify' }}</app-button
    >
  </form>
</div>
