<div class="main-nav navbar navbar-expand-xl navbar-light navbar-sticky">
  <div class="offcanvas offcanvas-collapse order-xl-2" id="primaryMenu" [class.show]="menuService.mainMenuToggle">
    <div class="offcanvas-header navbar-shadow">
      <h5>{{ navigation.locale() === 'en-US' ? 'Menu' : 'Menu' }}</h5>
      <button class="btn-close lead" type="button" (click)="close()"><i class="ri-close-fill"></i></button>
    </div>
    <div class="offcanvas-body" [class.show]="menuService.mainMenuToggle">
      <ul class="navbar-nav {{ navClass() }}">
        @for (item of items; track item.key) {
          <li class="nav-item" [class.dropdown]="item.children.length">
            @if (item.children.length) {
              <a class="nav-link dropdown-toggle" (click)="toggle(item)">{{ item.label }}</a>
              <ul class="dropdown-menu" [class.show]="item.active">
                @for (child of item.children; track child.key) {
                  <li>
                    @if (child.link_type === 'external' && child.url) {
                      <a class="dropdown-item" [href]="child.url" [target]="child.target_blank ? '_blank' : '_self'">{{ child.label }}</a>
                    } @else if (child.path) {
                      <a class="dropdown-item" [routerLink]="child.path" (click)="close()">{{ child.label }}</a>
                    } @else {
                      <span class="dropdown-item">{{ child.label }}</span>
                    }
                  </li>
                }
              </ul>
            } @else if (item.link_type === 'external' && item.url) {
              <a class="nav-link" [href]="item.url" [target]="item.target_blank ? '_blank' : '_self'">{{ item.label }}</a>
            } @else if (item.path) {
              <a class="nav-link" [routerLink]="item.path" (click)="close()">{{ item.label }}</a>
            } @else {
              <span class="nav-link">{{ item.label }}</span>
            }
          </li>
        }
      </ul>
    </div>
  </div>
</div>
