<header class="header-style-1" [ngClass]="stick && sticky() ? 'sticky-header' : ''">
  <div class="top-header custom-container">
    <div class="left-header">
      <div class="dropdown-box">
        <ul>
          <li><app-language /></li>
        </ul>
      </div>
    </div>
    <div class="right-header"><app-top-bar-menu /></div>
  </div>

  <div class="main-header custom-container">
    <div class="left-header">
      <button class="navbar-toggler d-xl-none d-inline navbar-menu-button" type="button" (click)="mainMenuOpen()">
        <span class="navbar-toggler-icon"><i class="ri-menu-line"></i></span>
      </button>
      <app-logo [logo]="logo()" />
    </div>
    <div class="middle-header searchInput" id="searchOffcanvas" [class.show]="menuService.isOpenSearch">
      <app-search />
    </div>
    <div class="right-header">
      <ul class="header-icon">
        <li>
          <a href="javascript:void(0)" (click)="searchOpen()" [attr.aria-label]="navigation.locale() === 'en-US' ? 'Open search' : 'Buka pencarian'">
            <i class="iconsax search-btn" icon-name="search-normal-2"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="nav-header custom-container d-flex">
    <div class="category-header d-sm-flex d-none">
      <a class="btn category-button" [routerLink]="catalogPath">
        <i class="ri-menu-line"></i>
        <span>{{ catalogLabel }}</span>
      </a>
    </div>
    <div class="header-nav-middle"><app-main-menu /></div>
  </div>
</header>
