@if (image()?.redirection_type === 'external' && image()?.link) {
  <a [href]="image()?.link" target="_blank" rel="noopener noreferrer" class="{{ className() }}">
    @if (bgImage()) {
      <div
        class="bg-size h-100"
        role="img"
        [attr.aria-label]="image()?.alt_text || null"
        [style.background-image]="
          'url(' +
          (image()?.image_url ? image()?.image_url : 'assets/images/placeholder/product.png') +
          ')'
        "
      >
        <ng-content></ng-content>
      </div>
    } @else {
      <img [src]="image()?.image_url" [class]="imageClass()" [alt]="image()?.alt_text || ''" />
    }
  </a>
} @else if (image()?.redirection_type !== 'none' && image()?.link) {
  <a [routerLink]="internalTarget" class="{{ className() }}">
    @if (bgImage()) {
      <div
        class="bg-size h-100"
        role="img"
        [attr.aria-label]="image()?.alt_text || null"
        [style.background-image]="
          'url(' +
          (image()?.image_url ? image()?.image_url : 'assets/images/placeholder/product.png') +
          ')'
        "
      >
        <ng-content></ng-content>
      </div>
    } @else {
      <img [src]="image()?.image_url" [class]="imageClass()" [alt]="image()?.alt_text || ''" />
    }
  </a>
} @else {
  <a href="javascript:void(0)" class="{{ className() }}">
    @if (bgImage()) {
      <div
        class="bg-size h-100"
        role="img"
        [attr.aria-label]="image()?.alt_text || null"
        [style.background-image]="
          'url(' +
          (image()?.image_url ? image()?.image_url : 'assets/images/placeholder/product.png') +
          ')'
        "
      >
        <ng-content></ng-content>
      </div>
    } @else {
      <img [src]="image()?.image_url" [class]="imageClass()" [alt]="image()?.alt_text || ''" />
    }
  </a>
}
