<app-breadcrumb [breadcrumb]="breadcrumb" />

<section class="section-t-space page-error-section">
  <div class="custom-container">
    <div class="page-error-box">
      <div class="page-error-image">
        <img [src]="errorPage.error_500.image" class="img-fluid" alt="500 error" />
      </div>
      <div class="page-error-contain">
        <h4>{{ errorPage.error_500.title }}</h4>
        <p>{{ errorPage.error_500.description }}</p>
        <button class="btn btn-bg-theme" [routerLink]="['/']">
          {{ errorPage.error_500.back_button_text }}
          <i class="ri-arrow-right-line"></i>
        </button>
      </div>
    </div>
  </div>
</section>

<section class="section-block-space newsletter-section">
  <div class="custom-container">
    <app-home-newsletter />
  </div>
</section>
