@if (product()) {
  <div class="product-box-4-main">
    <div class="productMain product-box-4">
      <div class="product-image">
        <a [routerLink]="productLink">
          <img
            [src]="
              product()?.product_thumbnail
                ? product()?.product_thumbnail?.asset_url!
                : 'assets/images/placeholder/product.png'
            "
            class="img-fluid productImage"
            [alt]="product()?.name"
          />
        </a>
      </div>
      <div class="product-content">
        <a [routerLink]="productLink" class="name">
          <h5>{{ product()?.name }}</h5>
        </a>
        <p class="product-details">
          {{ product()?.short_description }}
        </p>
        @if (product()?.price_visibility === 'displayed') {
          <h5 class="price">
            {{ product()?.sale_price | currencySymbol:'before_price':priceCurrency }}
            @if (product()?.price && product()?.price !== product()?.sale_price) {
              <del>{{ product()?.price | currencySymbol:'before_price':priceCurrency }}</del>
            }
          </h5>
        } @else if (product()?.price_visibility === 'contact') {
          <h5 class="price">{{ isEnglish ? 'Contact us for pricing' : 'Hubungi kami untuk harga' }}</h5>
        }
        <a [routerLink]="productLink" class="btn btn-solid rounded-3 mt-3">
          {{ isEnglish ? 'View product' : 'Lihat produk' }}
        </a>
      </div>
    </div>
  </div>
}
