<div class="theme-tree-box">
  <i class="fas fa-yin-yang"></i>

  <input
    class="form-control"
    type="search"
    placeholder="Cari menu..."
    [formControl]="treeSearch"
  />

  @if (dataToShow.length) {
    <ul class="tree-main-ul">
      <li class="cursor-pointer">
        <div>
          <i class="tree-icon folder-icon" role="presentation"></i>

          <span class="me-auto"> Primary Navigation </span>

          <ng-container *hasPermission="'web_navigation.update'">
            <app-button
              [class]="'btn btn-sm me-2 ms-auto btn-theme'"
              [type]="'button'"
              [id]="'save_navigation_order'"
              [disabled]="!!treeSearch.value.trim()"
              (click)="saveChanges()"
            >
              Save order
            </app-button>
          </ng-container>
        </div>

        <ng-container cdkDropListGroup>
          <ng-container
            *ngTemplateOutlet="
              renderMenuLevel;
              context: { $implicit: dataToShow }
            "
          />
        </ng-container>

        <ng-template #renderMenuLevel let-items>
          <ul
            cdkDropList
            class="menu-level"
            (cdkDropListDropped)="drop($event, items)"
          >
            @for (node of items; track node.id_web_navigation_item) {
              <li
                class="cursor-pointer"
                [class.inside-ul]="node.child.length"
                cdkDrag
                [cdkDragDisabled]="!!treeSearch.value.trim()"
              >
                <div>
                  @if (node.child.length) {
                    <i
                      class="file-icon ri-arrow-down-s-line ms-0"
                      role="button"
                      [class.ri-arrow-right-s-line]="!node.show"
                      [class.ri-arrow-down-s-line]="node.show"
                      (click)="onShowChildrenNode(node)"
                    ></i>
                  }

                  <span
                    class="me-auto"
                    [class.active]="
                      node.id_web_navigation_item === selectedItemId()
                    "
                  >
                    {{ node.title }}

                    @if (node.status === 0) {
                      <small class="badge bg-warning ms-2"> Inactive </small>
                    }
                  </span>

                  <div class="tree-options">
                    <ng-container *hasPermission="'web_navigation.update'">
                      <a
                        href="javascript:void(0)"
                        title="Edit menu item"
                        (click)="edit(node)"
                      >
                        <i class="ri-pencil-line text-success"></i>
                      </a>
                    </ng-container>
                    <ng-container *hasPermission="'web_navigation.delete'">
                      <a
                        href="javascript:void(0)"
                        title="Delete menu item"
                        (click)="confirmDelete(node)"
                      >
                        <i class="ri-delete-bin-7-line text-danger"></i>
                      </a>
                    </ng-container>
                  </div>

                  <i class="tree-icon file-icon" role="presentation"></i>
                </div>

                @if (node.child.length && node.show) {
                  <ng-container
                    *ngTemplateOutlet="
                      renderMenuLevel;
                      context: { $implicit: node.child }
                    "
                  />
                }
              </li>
            }
          </ul>
        </ng-template>
      </li>
    </ul>
  }
</div>

@if (!dataToShow.length) {
  <app-no-data
    [class]="'no-data-added category-no-data'"
    [image]="'assets/svg/no-category.png'"
    [text]="'no_menu_found'"
  />
}

<app-delete-modal
  #deleteModal
  (deleteItem)="delete($event.actionToPerform, $event.data)"
/>
