@if (option()?.product?.encourage_view || option()?.product?.encourage_order) {
  <div class="product-count">
    <ul>
      @if (option()?.product?.encourage_order) {
        <li>
          <i class="ri-flashlight-line"></i>
          <h6 class="lang">{{ ordersCount() }} Customers Ordered</h6>
        </li>
      }
      @if (option()?.product?.encourage_view) {
        <li>
          <i class="ri-eye-line"></i>
          <h6 class="lang">{{ viewsCount() }} Active View in this item</h6>
        </li>
      }
    </ul>
  </div>
}

@if (product()?.store?.store_name) {
  <h6 class="offer-top">
    <a [routerLink]="['/seller/store', product()?.store?.slug]"
      >Visit {{ product()?.store?.store_name }}</a
    >
  </h6>
}
<h2 class="name">{{ selectedVariation() ? selectedVariation()?.name : product()?.name }}</h2>
@if (product()?.price_visibility === 'displayed') {
<h3 class="product-price-2">
  {{
    (selectedVariation() ? selectedVariation()?.sale_price : product()?.sale_price) | currencySymbol
  }}
  @if (selectedVariation() ? selectedVariation()?.discount : product()?.discount) {
    <del>{{
      (selectedVariation() ? selectedVariation()?.price : product()?.price) | currencySymbol
    }}</del>
  }
</h3>
} @else if (product()?.price_visibility === 'contact') {
  <h3 class="product-price-2">Hubungi kami untuk harga</h3>
}
<div class="price-rating">
  <ul class="rating-review-sold-box">
    <li>
      <h5><i class="ri-star-fill"></i> {{ product()?.rating_count || 0 }} Ratings</h5>
    </li>
    <li></li>
    <li>
      <h5>{{ product()?.reviews_count || 0 }} Reviews</h5>
    </li>
  </ul>
</div>
@if (product()?.short_description) {
  <div class="product-contain">
    <p>
      {{ product()?.short_description }}
    </p>
  </div>
}
