<h2 class="name">{{ selectedVariation() ? selectedVariation()?.name : product()?.name }}</h2>
@if (product()?.price_visibility === 'displayed') {
<h3 class="product-price-2">
  {{
    (selectedVariation() ? selectedVariation()?.sale_price : product()?.sale_price)
      | currencySymbol:'before_price':priceCurrency
  }}
  @if (product()?.price && product()?.price !== product()?.sale_price) {
    <del>{{
      (selectedVariation() ? selectedVariation()?.price : product()?.price)
        | currencySymbol:'before_price':priceCurrency
    }}</del>
  }
</h3>
} @else if (product()?.price_visibility === 'contact') {
  <h3 class="product-price-2">{{ isEnglish ? 'Contact us for pricing' : 'Hubungi kami untuk harga' }}</h3>
}
@if (product()?.short_description) {
  <div class="product-contain">
    <p>
      {{ product()?.short_description }}
    </p>
  </div>
}
