<div class="filter-overlay" id="filterOverlay" [class.show]="showSidebar"></div>
<div class="left-sidebar-box" [class.show]="showSidebar">
  <button class="back-button" (click)="closeSidebar()">
    <i class="ri-arrow-left-line"></i> Kembali
  </button>
  <div class="accordion left-accordion-box" ngbAccordion>
    <div class="accordion-item" ngbAccordionItem [collapsed]="false">
      <h2 class="accordion-header" ngbAccordionHeader>
        <button class="accordion-button" type="button" ngbAccordionButton>
          {{ recentTitle }} <i class="iconsax" icon-name="chevron-down"></i>
        </button>
      </h2>
      <div class="accordion-collapse collapse show" ngbAccordionCollapse>
        <div class="accordion-body" ngbAccordionBody>
          <app-blog-recent-post [blogs]="(resentBlog$ | async) || []" />
        </div>
      </div>
    </div>
  </div>
</div>
