<section class="product-section section-t-space">
  <div class="custom-container">
    <div class="row">
      <div class="col-xxl-9 col-xl-8 col-lg-7">
        <div class="left-card">
          <div class="row g-xxl-5 g-md-4 g-3">
            <div class="col-xxl-6">
              <div class="product-left-box">
                <div class="row g-sm-4 g-2">
                  <div class="col-12">
                    <div #mainSwiper class="swiper product-original-slider product-original-box">
                      <div class="swiper-wrapper">
                        @for (img of product()?.product_galleries; track img.id) {
                          <div class="swiper-slide">
                            @if (isBrowser) {
                              <lib-ngx-image-zoom
                                [thumbImage]="img.asset_url!"
                                [fullImage]="img.asset_url!"
                                [magnification]="2"
                                [zoomMode]="'hover'"
                                [enableLens]="true"
                                [enableScrollZoom]="true"
                                [lensWidth]="lensWidth"
                                [lensHeight]="lensHeight"
                                class="zoom-img"
                              ></lib-ngx-image-zoom>
                            }
                          </div>
                        }
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div #thumbSwiper class="swiper thumbnail-product-slider product-thumbnail-box">
                      <div class="swiper-wrapper">
                        @for (img of product()?.product_galleries; track img.id) {
                          <div class="swiper-slide">
                            <div class="sidebar-image">
                              <img [src]="img.asset_url" class="img-fluid" alt="image" />
                            </div>
                          </div>
                        }
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xxl-6 border-left-cls">
              <div class="right-box-contain">
                <app-product-details
                  [option]="option()"
                  [product]="product()"
                  [selectedVariation]="selectedVariation ? selectedVariation! : product()"
                ></app-product-details>

                <app-product-content
                  [product]="product()"
                  [option]="option()"
                  (selectedVariant)="selectedVariant($event)"
                ></app-product-content>

                <app-product-information [product]="product()"></app-product-information>
                <app-product-delivery-information
                  [product]="product()"
                ></app-product-delivery-information>
                <app-payment-option [product]="product()" [option]="option()"></app-payment-option>
                <app-product-social-share></app-product-social-share>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-3 col-xl-4 col-lg-5 d-none d-lg-block">
        <app-product-selected-variant
          [product]="product()"
          [option]="option()"
          [selectedVariation]="selectedVariation ? selectedVariation! : null"
        ></app-product-selected-variant>
      </div>
    </div>
  </div>
</section>
@if (product()?.cross_sell_products?.length) {
  <app-product-bundle [product]="product()"></app-product-bundle>
}
<app-product-details-tab [product]="product()"></app-product-details-tab>
