<section class="product-section section-t-space">
  <div class="custom-container">
    <div class="row">
      <div class="col-xxl-9 col-xl-8 col-lg-7">
        <div class="left-card">
          <div class="row g-xxl-5 g-md-4 g-3">
            <div class="col-xxl-6">
              <div class="product-left-box">
                <div class="product-original-box full-width-img">
                  <div class="row g-sm-4 g-2">
                    @if (
                      product()?.product_galleries?.length ||
                      (selectedVariation && selectedVariation.variation_galleries.length)
                    ) {
                      @for (
                        image of selectedVariation && selectedVariation.variation_galleries.length
                          ? selectedVariation && selectedVariation.variation_galleries
                          : product()?.product_galleries;
                        track image
                      ) {
                        <div class="col-12">
                          <div class="slider-image slider-image-2">
                            @if (videType.includes(image?.mime_type!)) {
                              <video class="w-100" controls>
                                <source
                                  [src]="image ? image.asset_url : ''"
                                  [type]="image?.mime_type"
                                />
                              </video>
                            } @else if (audioType.includes(image?.mime_type!)) {
                              <audio controls>
                                <source
                                  [src]="image ? image.asset_url : ''"
                                  [type]="image?.mime_type"
                                />
                              </audio>
                            } @else {
                              <img
                                [src]="
                                  image ? image.asset_url : 'assets/images/placeholder/product.png'
                                "
                                class="img-fluid"
                                [alt]="product()?.name"
                              />
                            }
                          </div>
                        </div>
                      }
                    } @else {
                      <div>
                        @if (
                          product()?.product_thumbnail &&
                          videType.includes(product()?.product_thumbnail?.mime_type!)
                        ) {
                          <video class="w-100" controls>
                            <source
                              [src]="
                                product()?.product_thumbnail
                                  ? product()?.product_thumbnail?.asset_url
                                  : ''
                              "
                              [type]="product()?.product_thumbnail?.mime_type"
                            />
                          </video>
                        } @else if (audioType.includes(product()?.product_thumbnail?.mime_type!)) {
                          <audio controls>
                            <source
                              [src]="
                                product()?.product_thumbnail
                                  ? product()?.product_thumbnail?.asset_url
                                  : ''
                              "
                              [type]="product()?.product_thumbnail?.mime_type"
                            />
                          </audio>
                        } @else {
                          <img
                            [src]="
                              product()?.product_thumbnail
                                ? product()?.product_thumbnail?.asset_url
                                : 'assets/images/placeholder/product.png'
                            "
                            class="img-fluid"
                            [alt]="product()?.name"
                          />
                        }
                      </div>
                    }
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xxl-6 border-left-cls">
              <div class="right-box-contain">
                <app-product-details
                  [option]="option()"
                  [product]="product()"
                  [selectedVariation]="selectedVariation ? selectedVariation! : product()"
                ></app-product-details>

                <app-product-content
                  [product]="product()"
                  [option]="option()"
                  (selectedVariant)="selectedVariant($event)"
                ></app-product-content>

                <app-product-information [product]="product()"></app-product-information>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-3 col-xl-4 col-lg-5 d-none d-lg-block">
        <app-product-selected-variant
          [product]="product()"
          [option]="option()"
          [selectedVariation]="selectedVariation ? selectedVariation! : null"
        ></app-product-selected-variant>
      </div>
    </div>
  </div>
</section>
@if (product()?.cross_sell_products?.length) {
  <app-product-bundle [product]="product()"></app-product-bundle>
}
<app-product-details-tab [product]="product()"></app-product-details-tab>
