:host {
  display: block;
}

.website-page-content {
  max-width: 960px;
  margin-inline: auto;
  overflow-wrap: anywhere;

  ::ng-deep {
    img {
      max-width: 100%;
      height: auto;
    }

    h2,
    h3,
    h4 {
      margin-top: 1.5em;
    }

    p {
      margin-bottom: 1.2em;
    }

    table,
    pre {
      display: block;
      max-width: 100%;
      overflow-x: auto;
    }
  }
}
