<app-page-wrapper
  [gridClass]="'col-sm-12'"
  [title]="'admin_access.title' | translate"
>
  <div
    button
    class="d-flex flex-wrap gap-2"
    *hasPermission="'admin_access.create'"
  >
    <a
      [routerLink]="['/admin-access/create']"
      class="align-items-center btn btn-theme"
    >
      <i class="ri-add-line"></i>

      {{ 'admin_access.add' | translate }}
    </a>
  </div>

  <app-table
    [tableConfig]="tableConfig"
    [hasCheckbox]="false"
    [actionMode]="'dropdown'"
    [externalPermissions]="(authPermissions$ | async) ?? []"
    [externalAllAccess]="(isAllAccess$ | async) ?? false"
    (tableChanged)="onTableChange($event)"
    (action)="onActionClicked($event)"
  />

  <app-confirmation-modal
    #confirmationModal
    (confirmed)="onConfirmed($event)"
  />
</app-page-wrapper>
