<app-breadcrumb [breadcrumb]="breadcrumb" />

<section class="tracking-section section-t-space">
  <div class="custom-container">
    <div class="order-success-box">
      <div class="order-contain">
        <h3 class="theme-color">Purchasing Success</h3>
        <h5 class="text-content">Your order has been successfully completed and is on its way.</h5>
        <h6>ID for the transaction: 1708031724431131</h6>
      </div>
    </div>
  </div>
</section>

<section class="section-block-space newsletter-section">
  <div class="custom-container">
    <app-home-newsletter />
  </div>
</section>
