@if (view$ | async; as view) {
  @if (view.homePage?.slug === 'gadget-store') {
    <app-gadget [data]="view.homePage" [slug]="view.theme"></app-gadget>
  }
  @if (view.homePage?.slug === 'mega-mart') {
    <app-mega-mart [data]="view.homePage" [slug]="view.theme"></app-mega-mart>
  }
  @if (view.homePage?.slug === 'organic-store') {
    <app-organic-store [data]="view.homePage" [slug]="view.theme"></app-organic-store>
  }
  @if (view.homePage?.slug === 'baby-shop') {
    <app-baby-shop [data]="view.homePage" [slug]="view.theme"></app-baby-shop>
  }
  @if (view.homePage?.slug === 'style-tech') {
    <app-style-tech [data]="view.homePage" [slug]="view.theme"></app-style-tech>
  }
  @if (view.homePage?.slug === 'electro') {
    <app-electro [data]="view.homePage" [slug]="view.theme"></app-electro>
  }
}
