@if (homePage?.slug === 'gadget-store') {
  <app-gadget [data]="homePage" [slug]="theme"></app-gadget>
}
@if (homePage?.slug === 'mega-mart') {
  <app-mega-mart [data]="homePage" [slug]="theme"></app-mega-mart>
}
@if (homePage?.slug === 'organic-store') {
  <app-organic-store [data]="homePage" [slug]="theme"></app-organic-store>
}
@if (homePage?.slug === 'baby-shop') {
  <app-baby-shop [data]="homePage" [slug]="theme"></app-baby-shop>
}
@if (homePage?.slug === 'style-tech') {
  <app-style-tech [data]="homePage" [slug]="theme"></app-style-tech>
}

@if (homePage?.slug === 'electro') {
  <app-electro [data]="homePage" [slug]="theme"></app-electro>
}
