.password-wrapper {
  position: relative;

  .form-control {
    padding-right: 50px;
  }

  .password-toggle {
    position: absolute;
    top: 50%;
    right: 16px;
    z-index: 5;

    padding: 0;
    border: 0;
    background: transparent;

    font-size: 20px;
    line-height: 1;

    transform: translateY(-50%);
    cursor: pointer;
  }
}
