<div class="row">
  <div class="col-xl-4 p-0">
    <app-page-wrapper [gridClass]="'col-sm-12'" [title]="'categories'">
      <div button *hasPermission="'product_category.create'">
        @if (type() === 'edit') {
          <button
            type="button"
            class="btn btn-sm btn-light-bg"
            (click)="create(type())"
          >
            <i class="ri-add-line"></i> Kategori baru
          </button>
        }
      </div>
      <div class="category-tree-box">
        <app-tree
          [data]="(category$ | async)?.data"
          [recursionKey]="'subcategories'"
          [type]="type()"
          [categoryType]="categoryType()"
        />
      </div>
    </app-page-wrapper>
  </div>
  <div class="col-xl-8 p-0">
    <app-form-category
      [categories]="(category$ | async)?.data"
      [type]="type()"
      [categoryType]="categoryType()"
      *hasPermission="
        type() === 'edit'
          ? 'product_category.update'
          : 'product_category.create'
      "
    />
  </div>
</div>
