<section class="blog-section section-t-space">
  <div class="custom-container">
    <div class="row g-xl-4 g-2">
      <div class="col-12 m-xl-0" (click)="filterOpen()">
        <div class="filter-button d-xl-none">
          <a href="javascript:void(0)"><i class="ri-equalizer-2-line"></i> Filter Menu</a>
        </div>
      </div>
      <div class="col-xxl-3 col-xl-4 col-lg-5">
        <app-sidebar [showSidebar]="open" />
      </div>

      <div class="col-xxl-9 col-xl-8 ratio_45">
        <div class="blog-deatils-box">
          <div class="blog-detail-image mb-4">
            <img
              [src]="
                (blog$ | async)?.blog_thumbnail
                  ? (blog$ | async)?.blog_thumbnail?.asset_url
                  : 'assets/images/blog.png'
              "
              class="img-fluid"
              [alt]="(blog$ | async)?.title"
              class="img-fluid"
            />
          </div>
          <div class="blog-image-contain">
            <h2>{{ (blog$ | async)?.title }}</h2>
            <ul class="blog-list-box">
              <li>Posted By: {{ (blog$ | async)?.created_by?.name }}</li>
              <li>Published on {{ (blog$ | async)?.created_at | date: 'dd MMM yyyy hh:mm:a' }}</li>
              <li>
                <form>
                  <input class="form-check-input" type="checkbox" id="checkBox" />
                  <label for="checkBox" class="form-label">12 Appreciations</label>
                </form>
              </li>
            </ul>
          </div>

          <div class="blog-detail-contain" [innerHTML]="(blog$ | async)?.content"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-block-space newsletter-section">
  <div class="custom-container">
    <app-home-newsletter></app-home-newsletter>
  </div>
</section>
