@if (blog$ | async; as blog) {
  <app-breadcrumb [breadcrumb]="breadcrumb" />

  <section class="blog-section section-t-space" [attr.lang]="locale">
    <div class="custom-container">
      <div class="row g-xl-4 g-3">
        <div class="col-12 m-xl-0" (click)="filterOpen()">
          <div class="filter-button d-xl-none">
            <button type="button">
              <i class="ri-equalizer-2-line"></i>
              {{ locale === 'en-US' ? 'Recent articles' : 'Artikel terbaru' }}
            </button>
          </div>
        </div>

        <div class="col-xxl-3 col-xl-4 col-lg-5">
          <app-sidebar [showSidebar]="open" />
        </div>

        <div class="col-xxl-9 col-xl-8 ratio_45">
          <article class="blog-deatils-box article-detail">
            @if (blog.blog_thumbnail; as thumbnail) {
              <figure class="blog-detail-image mb-4">
                <img
                  [src]="thumbnail.asset_url"
                  class="img-fluid"
                  [alt]="blog.title"
                  fetchpriority="high"
                />
              </figure>
            }

            <header class="blog-image-contain">
              <h1>{{ blog.title }}</h1>
              <ul class="blog-list-box">
                <li>{{ blog.created_by.name || 'MATEX' }}</li>
                <li>{{ blog.created_at | date: 'dd MMM yyyy' }}</li>
              </ul>
              @if (blog.description) {
                <p class="article-lead">{{ blog.description }}</p>
              }
            </header>

            <div class="blog-detail-contain article-content" [innerHTML]="blog.content"></div>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="section-block-space newsletter-section">
    <div class="custom-container">
      <app-home-newsletter />
    </div>
  </section>
}
