<app-breadcrumb [breadcrumb]="breadcrumb" />

<section class="faqs-section section-t-space">
  <div class="custom-container">
    <div class="row g-sm-4 g-3">
      <div class="col-xxl-3 col-lg-4 col-md-5">
        <div class="faq-wrapper">
          <h3>{{ locale === 'en-US' ? 'Frequently Asked Questions' : 'Pertanyaan Umum' }}</h3>
          <p class="faq-desc">
            {{ locale === 'en-US' ? 'Find answers about our company, products, and services.' : 'Temukan jawaban seputar perusahaan, produk, dan layanan kami.' }}
          </p>
          <h2 class="faq-title">FAQ</h2>
        </div>
      </div>
      <div class="col-xxl-9 col-lg-8 col-md-7">
        @if ((faq$ | async); as faqs) {
          @if (faqs.length) {
          <div class="accordion faq-accordion" ngbAccordion [closeOthers]="true">
            @for (faq of faqs; track faq.key; let i = $index) {
              <div ngbAccordionItem [collapsed]="i !== 0">
                <div ngbAccordionHeader>
                  <h5 class="accordion-header">
                    <button class="accordion-button" type="button" ngbAccordionButton>
                      {{ faq.question }} <i class="iconsax" icon-name="chevron-down"></i>
                    </button>
                  </h5>
                </div>
                <div class="collapse show" ngbAccordionCollapse>
                  <div class="card-body" ngbAccordionBody>
                    <ng-template>
                      <p>{{ faq.answer }}</p>
                    </ng-template>
                  </div>
                </div>
              </div>
            }
          </div>
          } @else {
          <app-no-data
            [class]="'no-data-added collection-no-data'"
            [text]="'no_faq' | translate"
            [description]="'no_faq_desc' | translate"
          ></app-no-data>
          }
        }
      </div>
    </div>
  </div>
</section>

<section class="section-block-space newsletter-section">
  <div class="custom-container">
    <app-home-newsletter />
  </div>
</section>
